.about {
  padding: 50px 0;

  @include _768 {
    padding: 20px 0;
  }

  &__inner {
    display: flex;
    gap: 90px;
    align-items: center;

    @include _992 {
      gap: 50px;
    }

    @include _768 {
      flex-direction: column-reverse;
      gap: 25px;
    }
  }

  &__img {
    position: relative;
    flex: 0 1 520px;
    min-height: 344px;

    @include _768 {
      width: 350px;
      flex: none;
    }

    @include _480 {
      width: 280px;
      min-height: 280px;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      object-fit: cover;
    }
  }

  &__content {
    flex: 0 1 607px;

    @include _768 {
      flex: none;
    }
  }

  &__title {
    margin-bottom: 30px;

    @include _992 {
      margin-bottom: 20px;
    }
  }

  &__text {
    margin-bottom: 50px;

    @include _992 {
      margin-bottom: 25px;
    }
  }
}