.comment {
  padding: 100px 0 50px;

  @include _992 {
    padding: 50px 0 30px;
  }

  &__subtitle {
    text-align: center;
  }

  &__title {
    text-align: center;
    margin-bottom: 63px;

    @include _480 {
      margin-bottom: 30px;
    }
  }

  &__swiper {
    width: 90%;
    height: 550px;

    @include _992 {
      height: 100%;
    }

    @include _768 {
      width: 85%;
    }

    @include _480 {
      width: 80%;
    }
  }

  &__slide-inner {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 111px 104px 68px 148px;
    display: flex;
    align-items: center;
    column-gap: 72px;

    @include _992 {
      padding: 60px;
      column-gap: 40px;
    }

    @include _768 {
      flex-direction: column;
      padding: 50px 30px 30px;
    }

    @include _480 {
      padding: 20px;
    }
  }

  &__slide-img {
    flex: 0 0 296px;
    height: 296px;
    position: relative;

    @include _768 {
      height: 255px;
      flex: none;
      max-width: 255px;
      width: 100%;
      margin-bottom: 40px;
    }

    @include _480 {
      margin-bottom: 25px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0px 20px;
      object-fit: cover;
      z-index: 1;
    }

    &:after {
      content: "";
      position: absolute;
      width: 296px;
      height: 296px;
      top: -40px;
      left: -48px;
      border: 1px solid #D8D1FE;
      border-radius: 0px 20px;
      z-index: 0;

      @include _992 {
        top: -20px;
        left: -20px;
      }

      @include _480 {
        content: none;
      }
    }
  }

  &__slide-content {
    flex: 0 1 608px;

    @include _768 {
      flex: none;
    }
  }

  &__slide-text {
    margin-bottom: 60px;
    padding-top: 70px;
    position: relative;

    @include _992 {
      margin-bottom: 30px;
      padding-top: 50px;
    }

    @include _480 {
      padding-top: 30px;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 22px;
      height: 24px;
      background: url('../images/icons/quote.svg') center / cover no-repeat;
    }
  }

  &__slide-name {
    @extend %monts-600;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 7px;

    @include _480 {
      font-size: 20px;
    }
  }

  &__buttons {
    display: flex;
    position: relative;
    justify-content: space-between;
    top: -270px;
  }

  &__button-prev {
    position: relative;
    left: 0;
    right: 0;
  }

  &__button-next {
    position: relative;
    left: 0;
    right: 0;
  }
}